@model PlaylistViewModel
<h1>hej</h1>

<iframe src="@Model.Playlist1" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="@Model.Playlist2" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="@Model.Playlist3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>