@model PlaylistViewModel


<head>
</head>

<body>

    <!--MENY NAVBAR-->

   
    <div class="container">
        <!--VISA SMILEY + TEXT-->

        <div class="container">
            <div class="wrapper">
                <img src="~/img/Uttråkat copy.png" style="width: 20%; margin-top: 30px;" />
                <h1 style="font-size: 200px;">Du är neutral</h1>
            </div>
            <div class="row">
                <div class="col-5" style="padding-left: 100px;">
                    <iframe src="@Model.Playlist1" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>

                <div class="col-7">
                    <h1 style="font-size: 50px;">Du verkar inte veta vad du känner <br />här är en spellista som kan ändra det </h1>
                    <!--COLLAPSE MENY MED ALTERNATIVA SPELLISTOR-->
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="width: 200px; background-color: #585858; border-color: #585858;">
                            Inte nöjd med spellistan?
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body" style="background-color: #2E2E2E; color: #458CCC; font-size: 20px; width: 650px;">
                                <div>
                                    <a id="CollapseOneTextHeader">Andra alternativ </a>
                                    <p>Är du inte nöjd med din spellista  rekomenderar vi även dessa två</p>
                                </div>
                                <iframe src="@Model.Playlist2" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                <iframe src="@Model.Playlist3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                    </div>

                    <!--KNAPP TILLBAKA-->
                    <a asp-action="Index" class="Info nav-item active nav-link">< Tillbaka</a>
                </div>

                <!--VISA SPELLISTA-->

            </div>
            </div>


        <link rel="stylesheet" href="~/css/main.css" />

</body>