@{
    Layout = "_LayoutMood";
}


<body>
    <div id="View1" class="container" style="margin-top: 50px;">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Historik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mina Spellistor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inställningar</a>
            </li>

        </ul>
    </div>

    <link rel="stylesheet" href="~/css/main.css" />
</body>
