
@{
    ViewBag.Title = "Home page";
}
@{
    Layout = "_LayoutMood";
}


<head>
</head>
<body onload="init();">
    <!--MENY NAVBAR-->
   
    <div class="container">
        <div class="wrapper">
            <br /><br /><h1>Hur mår du idag?</h1>
            @*EMOJI KNAPP*@
            <button class="btn btn-primary" onclick="ShowEmoji()">
                <img class="btnIcon" src="~/img/Neutral copy.png" />
            </button>
            @*KAMERA KNAPP*@
            <button class="btn btn-primary"><img class="btnIcon" onclick="ShowOptions()" src="~/img/cameraIconWhite.png" /></button>
            @*DISPLAY ALLA EMOJIS*@
            <div id="TalkBubble">
                <br /><br /><br />
                <a asp-action="ReturnEmotionAndPlaylist" asp-route-emotion="happiness">
                    <img class="emojiBtn" src="~/img/Glad copy.png" />
                </a>
                <a asp-action="ReturnEmotionAndPlaylist" asp-route-emotion="anger">
                    <img class="emojiBtn" src="~/img/Arg copy.png" />
                </a>
                <a asp-action="ReturnEmotionAndPlaylist" asp-route-emotion="sadness">
                    <img class="emojiBtn" src="~/img/Ledsen copy.png" />
                </a><br /><br />
                <a asp-action="ReturnEmotionAndPlaylist" asp-route-emotion="surprise">
                    <img class="emojiBtn" src="~/img/Förvånad copy.png" />
                </a>
                <a asp-action="ReturnEmotionAndPlaylist" asp-route-emotion="fear">
                    <img class="emojiBtn" src="~/img/rädd copy.png"/>
                </a>
                <a asp-action="ReturnEmotionAndPlaylist" asp-route-emotion="neutral">
                    <img class="emojiBtn" src="~/img/Uttråkat copy.png"/>
                </a>
            </div>


            <div id="ChoosePicMethod">
                <br /><button class="btn btnGrey" onclick="ShowCamera()">Ta bild</button> <button class="btn btnGrey" onclick="ShowUploadPic()">Ladda upp</button>
            </div>
            <div id="CameraButtons">

                @*WEBCAM*@
                <br /><button class="btn btnGrey" onclick="startWebcam();">Start WebCam</button>
                <button class="btn btnGrey" onclick="snapshot();">Take Snapshot</button>
                </p>
                <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
                <p>

                    <div id="MinCanvaso" class="wrapper">
                        <canvas id="myCanvas" width="400" height="300"></canvas>
                    </div>
                    @*TEST2*@
                    <form method="post" enctype="multipart/form-data" asp-controller="UploadPic" asp-action="Index">
                        <div id="test2"></div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <input class="btn btnGrey" type="submit" value="Upload" />
                            </div>
                        </div>
                    </form>
            </div>
            <div id="UploadPicButtons" >
                @*TEST1*@
                <br />
                <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
                    <div class="form-group">
                        <div class="col-md-10" style="margin-left: 100px;">
                            <input class="btn btnGrey" type="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9" style="margin-left: 40px;">
                            <input class="btn btnGrey" type="submit" value="Upload" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <p style="color: #212121">Rip lilla knappen 4ever i våra minnen</p>
    <link rel="stylesheet" href="~/css/main.css" />
</body>



<script src="~/js/main.js"></script>
